.actionRewardPanel {
    position: absolute;
    top: 0;
    width: 70%;
    left: 20%;
    align-items: center;
}

.actionLabel {
    position: absolute;
    left: 0;
}

.rewardLabel {
    position: absolute;
    right: 0;
}